{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}
{% block title %} Мои подписки {% endblock %}

{% block nav %}
{% include "nav.html" with follow=True %}
{% endblock %}

{% block content %}
{% csrf_token %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for item in follows %}
        <div class="card-user" data-author="{{ item.author.id }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ item.author.username }}</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    {% for recipe in item.author.recipes.all|slice:":3" %}
                    <li class="card-user__item">
                        <div class="recipe">
                            {% if recipe.image %}
                            <img src="{{ recipe.image.url }}" class="recipe__image">
                            {% else %}
                            <img src="{% static '/images/testCardImg.png' %}" class="recipe__image">
                            {% endif %}
                            <h3 class="recipe__title">{{ recipe.title }}</h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="card-user__item">
                        <a href="{% url 'profile' item.author.username %}"
                            class="card-user__link link">{% if item.author.recipes.count > 3 %}Еще
                            {{ item.author.recipes.count|add:"-3"}} рецепт... {% endif %}</a>
                    </li>
                </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
    {% include 'paginator.html' with items=page paginator=paginator %}
    {% endif %}
</main>
{% endblock %}

{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{% endblock %}