{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static '/pages/shopList.css' %}">
{% endblock %}
{% block title %} Мои подписки {% endblock %}

{% block nav %}
{% include "nav.html" with purchases=True %}
{% endblock %}


{% block content %}
{% csrf_token %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in purchases %}
            <li class="shopping-list__item" data-id="{{recipe.recipe.id}}">
                <div class="recipe recipe_reverse">

                    <img src="{% if recipe.recipe.image %}{{ recipe.recipe.image.url }}{% endif %}" alt="какой-то текст"
                        class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{ recipe.recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.recipe.cooking_time }} мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}

        </ul>
        <a href="{% url 'download_card' %}"><button class="button button_style_blue">Скачать список</button></a>


    </div>
</main>
{% endblock %}

{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static '/js/components/ShopList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}